/* #package css/main */

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.draggable-container {
    border-color: #cccccc;
    background-color: #ffffff;
    position: absolute;
    width: 300px;
    /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    border: 1px solid rgba(0, 0, 0, 1);
    z-index: 9999;
    top: 0;
    right:0;
}

.draggable-container .label {
    color: var(--enabled-text-color);
}

.draggable-container .header {
    padding: 5px;
    display:inline-block;
    background: #f3f3f3;
    width: 290px;
}

.draggable-container .icon-move {
    background: url(../images/icons/arrows-alt-solid.svg) no-repeat;
    cursor: move;

    float: right;
    height: 15px;
    width: 15px;
    background-size: auto 100%;

    color: var(--enabled-text-color);
}